* {
    border: none;
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
}

window#waybar {
    background-color: transparent;
}

.modules-left, .modules-right {
    margin: 0 8px;
}

#workspaces, #window, #tray, #battery, #network, #bluetooth, #pulseaudio, #cpu, #clock, #custom-microphone, #custom-monitor-input {
    padding: 2px 5px;
}

#custom-microphone {
    min-width: 14px;
}

#battery, #network.wireguard, #pulseaudio, #cpu, #clock {
    margin-left: 8px;
}

#workspaces button {
    padding: 0 6px;
}

#workspaces button:hover label {
    color: #000000;
}

#workspaces button.active label {
    font-weight: 900;
}

tooltip {
    background-color: #191724;
    border: 1px solid #393552;
    border-radius: 16px;
}

tooltip label {
    color: #FFFFFF;
}

menu {
    background-color: #191724;
    border: 1px solid #393552;
}

menu menuitem:hover {
    background-color: #393552;
}

#network.wireguard.disconnected {
    color: #6e6a86;
}

