* {
    border: none;
    font-family: "Jetbrains Mono Nerd Font";
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
}

window#waybar {
    background-color: transparent;
}

.modules-left, .modules-right {
    margin: 0 12px;
}

#workspaces button {
    padding: 0 5px;
}

#workspaces button:hover label {
    color: #000000;
}

#workspaces button.active label {
    font-weight: 900;
}

tooltip {
    background-color: #191724;
    border: 1px solid #393552;
    border-radius: 16px;
}

tooltip label {
    color: #FFFFFF;
}

